= form_for @group do |f|
  - if group.errors.any?
    .chat-group-form__errors
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :name, class: 'chat-group-form__label'
    .chat-group-form__field--right
      = f.text_field :name, class: 'chat__group_name chat-group-form__input', placeholder: 'グループ名を入力してください'
  
    
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{:for => "chat_group_チャットメンバーを追加"} チャットメンバーを追加
    .chat-group-form__field--right
      = f.text_field :name, class: 'chat__user-search-field chat-group-form__input', id:"result", placeholder: '追加したいユーザー名を入力してください',type:'text'
      .chat-group-user
      #result-id
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{:for => "chat_group_member"} チャットメンバー
    .chat-group-form__field--right
      .chat-group-user
        %input.chat-group-user__name{type: "hidden", value: current_user.id, name: "group[user_ids][]"}
          = current_user.name
      -@group.users.where.not(name:current_user.name).each do |group_user|
        .chat-group-user.clearfix
          %input.chat-group-user__name{type: "hidden", value: "#{group_user.id}", name: 'group[user_ids][]'}
            = group_user.name
            %p.chat-group-user__btn.chat-group-user__btn--remove
              削除
      #add-group
 
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      %input.chat-group-form__action-btn{"data-disable-with":"Save", name: "commit", type: "submit", value: "Save"}/

      

